html, body  {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
}

.pag1{
    display: flex;
    justify-content: space-between;
    margin: 10vh auto;
    align-items: center;
    width: 90%;
}

.yellow{
    width: 8vh;
    height: 50vh;
    background-color: #F9D189;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.imgdolls{
    width: 42vh;
    height: 60vh;
    margin-left: 10vh;
}

.text1{
    margin-left: 8vw;
    font-size: 3rem;
    line-height: 6rem;
    color: #FF6060;
    font-family: 'Holtwood One SC', serif;
}



@media (max-width: 3000px){
        html{
            font-size: 200%;
        } 
        .yellow{
            width: 3vw;
        }
    }

@media (max-width: 1600px){
        html{
            font-size: 62.5%;
        }
    }

@media (max-width: 823px){
        html{
            font-size: 50%;
        }
        section{
            flex-direction: column;
            text-align: center;
        }
        .yellow{
            margin-left: -88vw;
            text-align: center;
            height: 30vh;
            width: 3vw;
        }
        .text1{
            margin-left: 1vw;
            margin-top: -22vh ;
            text-align: center;
        }
        .imgdolls{
            margin-top: -6vh;
        }
    }

@media (max-width: 760px){
        html{
            font-size: 50%;
        }
    }

@media (max-width: 730px){
        .yellow{
            margin-left: -88vw;
            text-align: center;
            height: 30vh;
        }
        .text1{
            margin-left: 4vw;
        }
        .imgdolls{
            width: 80%;
        }

    }

@media (max-width: 490px){
        .text1{
            margin-left: 8vw;
        }
    }

@media (max-width: 450px){
        .yellow{
            text-align: center;
            height: 35vh;
            width: 4vw;
        }
        .text1{
            margin-top: -29vh;
            margin-bottom: 12vh;
            margin-left: 6vw;
        }
        .menu-toggle{
            margin-left: 0vw;
        }
    }
    
@media (max-width: 385px){
        .text1{
            margin-top: -32vh;
            margin-bottom: 10vh;
        }
    }